<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827486430610-4lhs3ljliuck80hsphsha10iqh0qjh6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827486430610-4lhs3ljliuck80hsphsha10iqh0qjh6r</string>
	<key>API_KEY</key>
	<string>AIzaSyAOJy9UV2wZ9gOY-yG40lRAbpTYOsH8gSY</string>
	<key>GCM_SENDER_ID</key>
	<string>827486430610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.vgstudio.MasterCook</string>
	<key>PROJECT_ID</key>
	<string>mastercook-6c256</string>
	<key>STORAGE_BUCKET</key>
	<string>mastercook-6c256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827486430610:ios:ef64c435a142e846cdcd4b</string>
	<key>DATABASE_URL</key>
	<string>https://mastercook-6c256.firebaseio.com</string>
</dict>
</plist>